{% extends "layout.html" %}

{% block title %}
    Add Notes
{% endblock %}

{% block main %}
    <form action="/addnotes" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" id="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="noteName" id="noteName" placeholder="Note Name" type="text">
        </div>
<div class="form-group">

      <textarea class="form-control" rows="5" id="note" name="note"></textarea>
    </div>
        <div class="inln">
            <button class="btn btn-primary" type="submit" id="submit" disabled>Add Note <span><i class='far fa-edit' style='font-size:24px'></i></span></button>
        </div>
    </form>
    <script>

        document.querySelector('#note').onkeyup = function() {
            if(document.querySelector('#note').value === '') {
                document.querySelector('#submit').disabled  = true;
            } else {
                document.querySelector('#submit').disabled  = false;
            }
        };

    </script>
{% endblock %}