{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
<div>
    <image src="/static/libertycoins.jpg" alt="Statue of Liberty" width="120" height="150"></image>
</div><br>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}